<%- include('partials/head', data) %>
<body>
    <%- include('partials/navigation', data) %>

    <main>


        <header id="home">
            <div class="welcome box">
                <div class="title">
                    <h1>Rab Ráby Étterem</h1>
                    <p>Szeretettel várunk szentendrei éttermünkben, a belvárosban. Finom ételek, régiségek, lélegzetelállító beltér és kedvező árak, 1982 óta.</p>
                    <div class="btns">
                        <div>Kutyabarát hely</div>
                        <div>Szépkártya elfogadó hely</div>
                    </div>
                </div>
                <div class="social">
                    <%- data.socialDiv %>
                </div>
            </div>
            <div class="opens box">
                <h2>OPEEEN HOURS</h2>
            </div>
            <div class="slider box">
                <h2>SLIIIIIDER</h2>
            </div>
            <div id="reservation" class="box">
                <h2>Foglalás</h2>
            </div>
        </header>


        <div id="menu">
            <div id="food" class="box">
                <h2>Étlap</h2>
            </div>
            <div id="drink" class="box">
                <h2>Italaink</h2>
            </div>
        </div>

        <div id="about">
            <div id="about_us">
                <h2>Rólunk</h2>
            </div>
            
            <div id="guest" class="box">
                <h2><i class="bi bi-map-fill"></i> Vendégkönyv</h2>
            </div>
        </div>

        <div id="group">
            <div class="box">
                <h2><i class="bi bi-map-fill"></i> Csoportok</h2>
            </div>
            <div class="box">
                <h2>Galéria</h2>
            </div>
        </div>

        <div id="info">
            <div id="contact" class="box">
                <h2>Kapcsolat</h2>
                <%- data.contactDiv %>
                <div>social</div>
            </div>
            <div id="faq" class="box">
                <%- data.faqDiv %>
            </div>
            <div id="company" class="box">
                <%- data.companyDiv %>
            </div>
        </div>
    </main>
    
    <a target="_blank" id="szechenyi" href="/img/2020_big.jpg">
        <img src="/img/2020.png" alt="">
    </a>

    <%- include('partials/footer', data) %>
</body>
</html>