<%- include('partials/head', data) %>
<body>
    <%- include('partials/navigation', data) %>
    <div id="loading"></div>
    <div id="sidebar">Tezst</div>

    <main>
        <header id="home">
            <div class="welcome box">
                <div class="title">
                    <h1>Rab Ráby Étterem</h1>
                    <p>Szeretettel várunk szentendrei éttermünkben, a belvárosban. Finom ételek, régiségek, lélegzetelállító beltér és kedvező árak, 1982 óta.</p>
                    <div class="btns">
                        <div>Kutyabarát hely</div>
                        <div>Szépkártya elfogadó hely</div>
                    </div>
                </div>
                <video src="/video/video-1.mp4" loop="" autoplay="" poster="" muted="" playsinline=""></video>
            </div>
            <div class="opens box">
                <h2>OPEEEN HOURS</h2>
            </div>
            <div class="slider box">
                <h2>SLIIIIIDER</h2>
            </div>
            <div id="reservation" class="box">
                <h2>Asztalfoglalás</h2>
                <p>Foglalj asztalt telefonon:</p>
                <a class="phone" href="tel:+36209149737">+36209149737</a>
                <p>vagy online:</p>
                <div class="online"><%- data.onlineRes %></div>
            </div>
        </header>

        <div id="menu" class="fill">
            <div id="food" class="box">
                <div class="content">
                    <h2>Étlap</h2>
                </div>
                <img src="/img/food-1.webp" loading="lazy" alt="">
            </div>
            <div id="drink" class="box">
                <div class="content">
                    <h2>Itallap & Borlap</h2>
                </div>
                <img src="/img/drink-1.webp" loading="lazy" alt="">
            </div>
        </div>

        <div id="about">
            <div id="story">
                <h2>Rólunk</h2>
                <p>Az éttermet még a vasfüggöny fennállásának idején Németh János és családja alapította 1982-ben. Nevét Jókai Mór Rab Ráby című regénye főhőséről kapta, aki Szentendrén élt és II. József idején oroszlánrészt vállalt a korrupció elleni küzdelemben. <br><br> Az épület, amiből az étterem lett kialakítva, több, mint 100 évvel ezelőtt még kovácsműhelyként működött. Egy néprajzi tárlaton túl, ritka érdekességek is találhatóak az étteremben.</p>
            </div>
            
            <div id="guest" class="box">
                <h2><i class="bi bi-map-fill"></i> Vendégkönyv</h2>
            </div>

            <div id="group">
                <h2>Csoport Menük 2024</h2>
                <button>Megtekintés</button>
                <p>Természetesen más menüket is elkészítünk, valamint a szervezőknek ismételt csoportok étkeztetése esetén jutalékot biztosítunk, megegyezés szerint. Amennyiben a menük árai felől érdeklődik, kérjük, aktuális árainkat telefonon vagy e-mailben kérje.</p>
            </div>
        </div>


        <div id="info" class="fill">
            <div id="contact" class="box">
                <%- data.contactDiv %>
            </div>
            <div id="faq" class="box">
                <%- data.faqDiv %>
            </div>
            <div id="company" class="box">
                <%- data.companyDiv %>
            </div>
        </div>
    </main>
    
    <a target="_blank" id="szechenyi" href="/img/2020_big.jpg">
        <img src="/img/2020.png" alt="">
    </a>

    <%- include('partials/footer', data) %>
    <script src="/js/main.js"></script>
</body>
</html>